<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title th:text="index"></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<div>
		<span><a href="login">Login</a></span>
		<span><a href="logout">Logout</a></span>
		<span><a href="http://localhost:4442/" target="blank">Eureka</a></span>
		<span><a href="events">Events</a></span>
	</div>
	<h1>Event details</h1>
	<label th:text="${eventname}"></label>
	<br/>
	<a href="checkout">Add to basket</a>
</body>
</html>